.site_main {
    padding-bottom: 5%;
    text-align: center;
}

.site_info {
    display: grid;
    justify-content: center;
    grid-template-columns:  repeat(auto-fit, minmax(5rem, 15rem));
    gap: 2rem;
    padding: 1rem;
}

.site_image {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.site_body {
    display: grid;
    justify-content: center;
}

.site_map {
    border: none;
    padding: 0.5rem;
}

.site_link {
    color: black;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: larger;
}